<app-base-menu></app-base-menu>

<div class="form">
    <h2>Sign in</h2>
    <div class="form-group">
        <mat-form-field appearance="legacy">
            <mat-label>Email</mat-label>
            <input [(ngModel)]="user.email" matInput type="email" placeholder="youreamil@domain.com" />
        </mat-form-field>

        <mat-form-field appearance="legacy">
            <mat-label>Password</mat-label>
            <input [(ngModel)]="user.password" matInput type="password" placeholder="*******" />
        </mat-form-field>
        <button mat-raised-button class="primary" (click)="signIn()" >Sign in</button>
    </div>
</div>
