<div class="container">
    <mat-toolbar class="menu" style="background-color: #009A17;">
        <mat-toolbar-row>
            <div class="menu-header">
                <a [routerLink]="['/home']">Home</a>
            </div>
            <div class="menu-items">
                <span>
                    <a [routerLink]="['/createleague']">Create league</a>
                </span>
                <span>
                    <a href="#">Profile</a>
                </span>
                <span>
                    <a (click)="signOut()" [routerLink]="['/signin']" >Sign out</a>
                </span>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
